.categoryInMobile{
  padding: 30px;
  width: 80%;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 8;
  transition: .4s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px 0 0 15px;
}
.categoryInMobile h1{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.categoryInMobile div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;
}

@keyframes slideIn {
  0% {
    transform: translatex(100%);
  }
  100% {
    transform: translatex(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(100%);
  }
}