.main{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin: 50px 0;
}


.container-slides{
    overflow: hidden;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main .slide{
    display: flex;
    align-items: center;
    padding-left: 80px;
    height: 540px;
    width: 100%;
    background-image: url("../../../assets/images/Tabpanel.png");
    background-position: right;
    background-size: cover;
    transition: .5s all ease-in-out;
}

.active {
    max-width: 100% !important;
    opacity: 100;
}

.notActive{
    opacity: 0;
    max-width: 0 !important;
    position: absolute;
}

.main .i{
    position: absolute;
    top: 50%;
    font-size: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #F2F3F4;
}
.main .slide-left{
    left: 40px;
}
.main .slide-right{
    right: 40px;
}

.main .slide h1{
    font-size: 50px;
    color: #253D4E;
    margin-bottom: 30px;
}
.main .slide span{
    font-size: 25px;
    color: #7E7E7E;
}

.main .slide form{
    width: fit-content;
    position: relative;
    margin-top: 30px;
}

.main .slide form input{
    outline: none;
    border: none;
    border-radius: 40px;
}

.main .slide form input[type="text"]{
    width: 450px;
    height: 42px;
    padding: 5px 150px 5px 20px;
    font-size: 16px;
}
.main .slide form input[type="submit"]{
    width: 150px;
    height: 42px;
    position: absolute;
    right: 0;
    background: #3BB77E;
    color: #FFF;
    cursor: pointer;
}